.kisame-image, .itachi-image, .tobi-image{
  width: 250px;
}
.div1 {
  width: max-content;
  height: 140px;
}
.div2 {
  width: 250px;
}
button, h3, p {
  margin: 5px;
}
p{
  color: gray;
}
button {
  color: white;
  background-color: rgb(71, 130, 234);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  transition: opacity .15s;
  cursor: pointer;
}
button:hover {
  opacity: .8;
}
.div3 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  width: max-content;
  display: inline-block;
  margin: 10px;
}

